# Python bytecode
*.pyc
__pycache__/

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
